*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.pink-bg {
  background-color: pink;
}

.btn-name{
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: #f0acd1;
  border: 1px solid white;
}

.pink-text {
  color: pink;
}

.purple-text {
  color: #750ff7;
}

/* Instruction 1 : fix nav-bar issue when screen is over 700px */

@media screen and (min-width : 700px) {  
  .logo{
    display: block;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* instruction 4 : skills lines inline when screen is 700px and over -- instruction 6 : front skills at first when inline */

  .skills{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  /* Super Bonus : list of projects inline when screen 700px and over */

  .contents{
    display: flex;
    justify-content: space-between;
  }
}

/* Instruction 2 : add a title, description and avatar centered for screen 700px and over */

.intro-text{
  color: black;
  padding: 10px 0;
}

.description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.avatar{
  width: 150px;
  height: 150px;
  padding: 20px 0;
}

/* instruction 3 : delete desktop img when screen is 700px or smaller */

@media screen and (max-width : 700px){
  .logo{
    display: block;
  }
  
  .navbar{
    display: flex;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktop {
    display: none;
  }

  /* instruction 5 : front skills above back skills when screen is 700px max */

  .skills{
    display: flex;
    flex-direction: column-reverse;
  }

}

.description p {
  width: 60%;
  text-align: center;
}

.desktop {
  margin: 80px 0 -5px 0;
}

.skills {
  margin-top: -30px;
  border-radius: 12px;
  padding: 0 10%;
}

.column {
  border-left: 1px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
  border-bottom: 1px solid #e6ecf8;
  background-color: #ffffff;
  padding: 60px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

.column:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.column:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.box {
  width: 25%;
  padding: 30px;
  border: 1px solid #e6ecf8;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

img {
  max-width: 100%;
}

.heading{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.projects a {
  color: #750ff7;
}


/* Bonus : create an opacity on projects without avalaible link */

.disabled{
  opacity: 0.3;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}